<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLDSV.Properties.Settings.QLDSVConnectionString" connectionString="Data Source=HIGO-PC\CSDL;Initial Catalog=QLDSV;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
        <add name="QLDSV.Properties.Settings.QLDSVConnectionString1"
            connectionString="Data Source=HIGO-PC\CSDL1;Initial Catalog=QLDSV;User ID=nhs;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>